DIRNAME=/Volumes/Storage/Backups/db
DB_USER=backup
DB_PASS=

# databases to backup from 1188
# 1188_admin_prod  1188_admin_stage  1188_auth_prod  1188_sms_prod  begis.ATODA_JIRKA

BACKUP_DAILY=(browser 1188_auth)
BACKUP_WEEKLY=(browser 1188_auth)
BACKUP_MONTHLY=(browser 1188_auth)

DELETE_DAILY_AFTER=6
DELETE_WEEKLY_AFTER=8
DELETE_MONTHLY_AFTER=31
